:root {
    --md-primary-fg-color: #0997b0;
    --md-accent-fg-color: #ff116c;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #00bdd6;
    --md-accent-fg-color: #f62676;
}

[data-md-color-scheme="slate"] .md-header, [data-md-color-scheme="slate"] .md-tabs {
    background-color: #007085;
}